# Final Project Submission
* Student name: Miguel Santana
* Student pace: Full Time
* Scheduled project review date/time: TBA
* Instructor name: James Irving
* Blog post URL: TBA

# Project Methodology & Goal
A Portuguese banking institution provided data for a direct marketing campaign with the goal of predicting client term deposits.

The information was found on kaggle at: https://www.kaggle.com/henriqueyamahata/bank-marketing

Dataset originally from: http://archive.ics.uci.edu/ml/datasets/Bank+Marketing#

# Data Analysis and Modeling
OSEMN Framework
* Obtain
* Scrub
* Explore
* Model
* INterpret

# OBTAIN

## Python Project Libraries
Importing Packages & Processing our Dataset

In [2]:
# Math, Visualizations, Cleaning and Analysis
import pandas as pd # data cleaning and manipulation
import numpy as np # numerical operations  
import seaborn as sns # visualizations / plt.style.use('seaborn-poster') 
#sns.set(style='whitegrid')
import matplotlib as mlp
import matplotlib.pyplot as plt
%matplotlib inline 
# pd.set_option('display.max_columns',0)
# pd.set_option('display.float_format', lambda x: '%.3f' % x)
import warnings
warnings.filterwarnings("ignore")

/Users/miguelsantana/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
df = pd.read_csv('bank-additional-full.csv', delimiter=';')

## Variable Key
The Kaggle dataset lists the following bank client attributes:

**Client Data**
* Age
* Job Type
* Marital Status
* Education 
* Default **(client credit in default)**
* Housing **(client housing loan)**
* Loan **(client personal loan)**

**Current Campaign | Last Contact** 
* Contact Type
* Month 
* Day of Week 
* Duration (in seconds)

**Other Attributes:**
* Campaign (number of contacts/this campaign)
* Pdays (days since last contacted/previous campaign)
* Previous (contacts performed before this campaign/this client)
* Poutcome (previous campaign outcome)

**Social & Economic Context Attributes**
* Emp.var.rate (quarterly employment variation rate)
* Cons.price.idx (monthly indicator - consumer price index)
* Cons.conf.idx (monthly indicator - consumer confidence index)
* Euribor3m (daily indicator - euribor 3 month rate)
* Nr.employed (quarterly indicator - number of employees)

**Output/Target**
* y (has the client subscribed a term deposit?)

In [27]:
df = df.rename(columns={'y':'term_deposit'})

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  term_deposit    41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

# SCRUB

In [8]:
# for col in df.columns: # preliminary view of value counts per column
#     try:
#         print(col, df[col].value_counts()[:5])
#     except:
#         print(col, df[col].value_counts())
#         # If there aren't 5+ unique values for a column the first print statement
#         # will throw an error for an invalid idx slice
#     print('\n') # Break up the output between columns

## Null Values

In [9]:
# df.isnull().sum()
df.isnull().values.any() # Checking for nulls

False

In [ ]:
## Duplicates - no unique identifier
# Checking for duplicated values in the unique "identifier" column
# df['?'].duplicated().values.any()

In [11]:
## Misentered Data
## None listed / seen in the dataset

# Exploratory Data Analysis

In [29]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,term_deposit
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

## Exploring Customer Term Desposit

### Visualizing Target

In [44]:
# # Observing target "term_deposit"
# ax = sns.countplot(x='term_deposit',data=df)
# ax.set(xlabel='Subscribed Term Deposit', ylabel='Count')
# for p in ax.patches:
#         ax.annotate('{:.2f}%'.format((p.get_height()/df.shape[0])*100), (p.get_x()+0.3, p.get_height()))

### Target by Job

In [45]:
# # Visualizing target by job
# ac = df.groupby(['job', 'term_deposit']).size().unstack().plot(kind='bar', stacked=False,figsize=(6,5))
# ac.set(xlabel='Subscribed Term Deposit', ylabel='Count')
# for i in ac.patches:
#     ac.text(i.get_x()+0.05, i.get_height()+20,str(i.get_height()))

### Target by Education

In [46]:
# # Visualizing target by education
# ac = df.groupby(['education', 'term_deposit']).size().unstack().plot(kind='bar', stacked=False,figsize=(6,5))
# ac.set(xlabel='Subscribed Term Deposit', ylabel='Count')
# for i in ac.patches:
#     ac.text(i.get_x()+0.05, i.get_height()+20,str(i.get_height()))

In [36]:
# plt.figure(figsize=(16,12))

# plt.subplot(221)

# ax = sns.countplot(x='term_deposit',data=df)
# ax.set(xlabel='Subscribed Term Deposit', ylabel='Count')
# for p in ax.patches:
#         ax.annotate('{:.2f}%'.format((p.get_height()/df.shape[0])*100), (p.get_x()+0.3, p.get_height()))
# plt.title('Total Subscribed Term Deposits')

# plt.subplot(222)

# ac = df.groupby(['job', 'term_deposit']).size().unstack().plot(kind='bar', stacked=False,figsize=(6,5))
# ac.set(xlabel='Subscribed Term Deposit', ylabel='Count')
# for i in ac.patches:
#     ac.text(i.get_x()+0.05, i.get_height()+20,str(i.get_height()))
# plt.title('Term Deposit X Job')

# # plt.subplot(223)
# # sns.scatterplot(df['account length'], df['total night charge'])
# # plt.title('Account Length X Night Charge')

# # plt.subplot(224)
# # sns.scatterplot(df['account length'], df['total intl charge'])
# # plt.title('Account Length X Intl Charge')

# plt.subplots_adjust(hspace=0.35)
# plt.show()

<div class="alert alert-success">

Observation: Some client jobs hold a closer no/yes ratio regarding term deposits. The four jobs with the largest variation are: technician, services, blue-collar and admin.  

</div>

# Data Preparation

## Notable Data Columns/Conversions
* Education - variables will be converted to numerical
* Default/Housing/Loan - variables will be made binary
* Duration - a duration of zero directly ties to the target 'no' (removed before modeling)
* Pdays - a value of 999 means the customer has not been contacted.

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  term_deposit    41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

In [54]:
bcols = ['education', 'default', 'housing', 'loan', 'duration', 'pdays']

for col in bcols: # preliminary view of value counts per column
    try:
        print(col, df[col].value_counts()[:5])
    except:
        print(col, df[col].value_counts())
        # If there aren't 5+ unique values for a column the first print statement
        # will throw an error for an invalid idx slice
    print('\n') # Break up the output between columns

education university.degree      12168
high.school             9515
basic.9y                6045
professional.course     5243
basic.4y                4176
Name: education, dtype: int64


default no         32588
unknown     8597
yes            3
Name: default, dtype: int64


housing yes        21576
no         18622
unknown      990
Name: housing, dtype: int64


loan no         33950
yes         6248
unknown      990
Name: loan, dtype: int64


duration 85     170
90     170
136    168
73     167
124    164
Name: duration, dtype: int64


pdays 999    39673
3        439
6        412
4        118
9         64
Name: pdays, dtype: int64

In [52]:
# df['education', ].value_counts()

## Feature Engineering

## Column Names

## Multicollinearity

## Dropping Features

## Categorical Encoding

### Casting Datatypes

### Label Encoding

# Model

### Test/Train Split

In [1]:
# y = (df['y'] == 'yes')*1
# df.drop('y', axis=1, inplace = True)

## Logistic Regression

### Evaluation

## Catboost

## K-Nearest Neighbors

## Support Vector Machine

## Guassian Naive Bayes

## Decision Tree

## Random Forest

## Gradient Boosting

## Adaboost

# Interpret Models

## Random Forest Pipeline

## Class Imbalance

## SMOTE (Synthetic Minority Over-sampling Technique)

# Feature Importance of Top Classifiers

Now that we know which classifiers have the most accuracy with our data, let's compare which features were the most important in the top three models: [X], [X], and [X].

## [X] Features

## [X] Features

## [X] Features

## Overlap